#google_insights {
    display: none;
}

.notice-error {
    color: red;
}

.jio-admin-page .update-nag {
    display: block;
}
.jio-admin-page .update-nag.error-nag {
    border-left: 4px solid red !important;
}
.jio-admin-page .update-nag.success-nag {
    border-left: 4px solid green !important;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 20px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.column {
    float: left;
    width: 40%;
    min-width: 400px;
}

.column-l {
    float: left;
    width: 20%;
}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}